/* CLASS COLORS */
.deathknight
  @include shadow
  color: #C41F3B
.druid
  @include shadow
  color: #FF7D0A
.hunter
  @include shadow
  color: #ABD473
.mage
  @include shadow
  color: #69CCF0
.monk
  @include shadow
  color: #00ff96
.paladin
  @include shadow
  color: #F58CBA
.priest
  @include shadow
  color: #cccccc
.rogue
  @include shadow
  color: #FFCC00
.shaman
  @include shadow
  color: #2459FF
.warlock
  @include shadow
  color: #9482C9
.warrior
  @include shadow
  color: #C79C6E