<% provide(:title, 'All raids') %>
<h1>All raids</h1>

<%= link_to "New Raid", new_raid_path, class: "btn btn-large btn-primary" %>

<% if records?(@raids) %>
  <table class="raids table table-striped table-bordered table-white">
    <thead>
      <th>Zone</th>
      <th>Start</th>
      <th>End</th>
    </thead>
    <tbody>
      <%= render @raids %>
    </tbody>
  </table>
<% else %>
  <%= render_no_records %>
<% end %>