<% provide(:title, 'Raids') %>

<div class="row">
  <h1>Raids</h1>

  <div class="col-md-12">
    <table class="raids table table-striped table-bordered table-white" id="raids-table" data-source="<%= raids_path(format: :json) %>">
      <thead>
        <th>Zone</th>
        <th>Start</th>
        <th>End</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>