<% provide(:title, "#{@raid.full_title}") %>
<div class="row">
  <section>
    <h1>
      <%= "#{@raid.full_title}" %>
    </h1>

    <table>
      <thead>
        <th>Character</th>
        <th>Realm</th>
        <th>Timestamp</th>
        <th>Online</th>
        <th>In Raid</th>
        <th>Event</th>
        <% if can? :manage, @raid %>
          <th>Edit</th>
        <% end %>
      </thead>
      <tbody>
        <% @raid.participations.each do |participation| %>
          <%= render partial: 'raid_participation', object: participation, as: 'participation' %>
        <% end %>
      </tbody>
    </table>


  </section>
</div>