<% provide(:title, @guild.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @guild.name %>
      </h1>
      Realm: <%= @guild.realm %>
    </section>
  </aside>
</div>