<% provide(:title, 'Races') %>
<div class="row">
  <h1 class="center">Races</h1>

  <div class="col-md-3">
    <h1>
      <small>
        Add Race
        <% if can?(:sync, Race) %>
          <%= link_to(fa_icon("refresh"), sync_races_path, method: :post, title: "Sync all Races from Battle.net", data: {toggle: 'tooltip'}) %>
        <% end %>
      </small>
    </h1>
    <%= render 'race_form' %>
  </div>

  <div class="col-md-9">
    <table class="race table table-striped table-bordered table-white" id="race-table" data-source="<%= races_path(format: :json) %>">
      <thead>
      <th>Name</th>
      <th>Blizzard ID</th>
      <th>Faction</th>
      <% if can? :manage, Race %>
        <th class="nosort">Edit</th>
      <% end %>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>