<li>
  <%= link_to user.battle_tag, user %>
  <% if can?(:destroy, user) && current_user != user %>
    | <%= link_to "delete", user, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>