<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.battle_tag %>
      </h1>
    </section>
  </aside>
  <section>
    <% @user.characters.each do |character| %>
      <%= render partial: 'character', object: character %>
    <% end %>
  </section>
</div>