<div class="vcp module">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">VCP</div>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="name bold">Gains</span>
        <span class="value">6,567.24</span>
      </li>
      <li class="list-group-item">
        <span class="name">Sitting</span>
        <span class="value">5,726.05</span>
      </li>
      <li class="list-group-item">
        <span class="name">Delinquency</span>
        <span class="value">346.75</span>
      </li>
      <li class="list-group-item">
        <span class="name">Infraction</span>
        <span class="value">25.00</span>
      </li>
    </ul>
  </div>

  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 35%">
      <span class="sr-only">35% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
      <span class="sr-only">20% Complete (warning)</span>
    </div>
    <div class="progress-bar progress-bar-danger" style="width: 10%">
      <span class="sr-only">10% Complete (danger)</span>
    </div>
  </div>
</div>