<div class="vcp module">
  <h2>VCP</h2>
  <div class="section">
    <div class="left">
      Gains
      Sitting
      Delinquency
      Infraction
    </div>
    <div class="right">
      6,567.24
      5,726.05
      346.75
      25.00
    </div>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">VCP</div>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <!-- Table -->
    <table class="table" style="text-align: center;">
      <tr>
        <td><b>Gains</b></td>
        <td>6,567.24</td>
      </tr>
      <tr>
        <td>Sitting</td>
        <td>5,726.05</td>
      </tr>
      <tr>
        <td>Sitting</td>
        <td style="text-align: center;">346.75</td>
      </tr>
      <tr>
        <td>Sitting</td>
        <td>25.00</td>
      </tr>
    </table>
  </div>

  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 35%">
      <span class="sr-only">35% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
      <span class="sr-only">20% Complete (warning)</span>
    </div>
    <div class="progress-bar progress-bar-danger" style="width: 10%">
      <span class="sr-only">10% Complete (danger)</span>
    </div>
  </div>
</div>