<li>
  <%= link_to character.name, character %>
  <% if current_user && current_user.admin? %>
    | <%= link_to "delete", character, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>