<li>
  <%= link_to character.name, full_character_path(character) %>
  <% if current_user && current_user.admin? %>
    | <%= link_to "delete", full_character_path(character), method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>