<% provide(:title, 'All characters') %>
<h1>All characters</h1>

<%= link_to "New Character", new_character_path, class: "btn btn-large btn-primary" %>

<%= will_paginate %>

<ul class="characters">
  <%= render @characters %>
</ul>

<%= will_paginate %>