<% provide(:title, 'All characters') %>
<h1>All characters</h1>

<%= link_to "New Character", new_character_path, class: "btn btn-large btn-primary" %>

<% if @current_user.present? && @current_user.characters.size > 0 %>
  <table class="characters table table-striped table-bordered table-white" id="characters-claimed-table" data-source="<%= characters_path(format: :json, type: :claimed) %>">
    <thead>
      <th>Name</th>
      <th>Class</th>
      <th>Guild</th>
      <th>Realm</th>
      <th>Raids</th>
      <th>Achievement Points</th>
      <th>Joined</th>
      <% if @current_user %>
        <th>Edit</th>
      <% end %>
    </thead>
    <tbody>
    </tbody>
  </table>
<% end %>

<table class="characters table table-striped table-bordered table-white" id="characters-unclaimed-table" data-source="<%= characters_path(format: :json, type: @current_user ? :unclaimed : :all) %>">
  <thead>
  <th>Name</th>
  <th>Class</th>
  <th>Guild</th>
  <th>Realm</th>
  <th>Raids</th>
  <th>Achievement Points</th>
  <th>Joined</th>
  </thead>
  <tbody>
  </tbody>
</table>
