<% provide(:title, 'Characters') %>
<div class="row">
  <div class="col-md-12">
    <h1 class="center">Characters</h1>

    <table class="characters table table-striped table-bordered table-white" id="characters-table" data-source="<%= characters_path(format: :json, type: :all) %>">
      <thead>
      <th class="name-col">Name</th>
      <th class="class-col">Class</th>
      <th class="guild-col">Guild</th>
      <th class="realm-col">Realm</th>
      <th class="raids-col">Raids</th>
      <th class="achievement-points-col">Achievement Points</th>
      <th class="joined-col">Joined</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>