<% provide(:title, @character.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @character.name %>
      </h1>
      Achievement Points: <%= @character.achievement_points %>
    </section>
  </aside>
</div>