<% provide(:title, @character.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @character.name %>
      </h1>
      <p>Achievement Points: <%= @character.achievement_points %></p>
      <p>Verified: <%= @character.verified %></p>
    </section>
  </aside>
</div>