<li>
  <%= best_in_place character_class, :name, :type => :input, :path => class_path(character_class) %>
  <% if current_user && current_user.admin? %>
    | <%= link_to "delete", class_path(character_class), method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>