<footer class="footer">
  <small>
    <%= link_to "VCP #{APP_VERSION.print}", root_path %>
    by <%= mail_to "gwyattkelsey@gmail.com", "GabeStah" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>